* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  body {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .container {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: start;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }

  /* Screen larger than 600px? 2 column */
@media (min-width: 601px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 1024px) {
  .container { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 601px) {
  .container { grid-template-columns: repeat(1, 1fr); }
}